
.mulish-font {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
max-width: 1170px;
margin: 0 auto;
padding: 0 auto;
}
/* shared */
.color{
    color:#FF5400 ;
}
.btn-primary{
    background-color: #FF5400;
    color: white;
}

/* nav */
.nav-title{
    font-size: 36px;
    font-weight: bolder;
    padding-left: 17px;
}
.nav-logo{
    display: flex;
    align-items: center;

}
.nav-img{
    width: 48px;
    height: 56px;
}
.nav-list{
    display: flex;
    gap: 44px;
}
.nav-list li{
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* explore */
.explore{
  
   
    
}
.explore-travel{
       background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
    display: flex;
    justify-content: center;
   
     height: 500px;
    width: 100%;
    border-radius: 7px;
    text-align: center;
    margin-top: 30px;
}
.exp-title{
    font-size: 64px;
    margin-top: 106px;
    margin-bottom: 35px;
    font-weight: bolder;
    color: white;
}
.epx-des{
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin-bottom: 55px;
}
.exp-inputs{
    background-color: #FFFFFF4d;
  
   border-radius: 10px;

   

}
.box-size{
    width: 174px;
    height: 52px;
    border-radius: 10px;
    border: none;
    margin: 13px;
    
}
/* tours */
.tours{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    height: 550px;
}
.tour-popular{
   
}
.our-popular{
    margin: none;
    padding: none;
}
.tour-title{
    font-size: 40px;
    font-weight: #131313;
    margin-bottom: 40px;
    margin-inline-start: 0px;
}
.tour-list li{
   margin-bottom: 35px;
   margin-top: 8px;
}
.tour-list{
    margin-bottom: 24px;
}
.tour-btn{
    margin-top: 35px;
    font-size: 20px;
    border: none;
    border-radius: 7px;
    padding: 13px 35px;

}
.tour-img{

}
/* destination */
.destination{
    
}
.destination-box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 48px;
}
.des-img-1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    
   
}
.des-img-1 img{
    height: 300;
    width: 573px;

}
/* .des-img-1-names{
    display: flex;
    justify-content: space-between;
    margin-left: 220px;
    margin-right: 220px;
    margin-top: -220px;
    margin-bottom: 140px;
    color: white;
} */

/* .des-names{
margin-left: 291px;
margin-right: 242px;
} */

.des-img-2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}
.des-img-3{
    display: flex;
    justify-content: space-between;
}
/* choose-box */
/* .choose-box{
    display: flex;
    flex-direction: column;
} */
 .choose-box-1{
    display: flex;
    justify-content: center;
    align-items: center;
    
  
 }
 .choose{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 48px;
 }
 .choose-options{
    width: 573px;
    height: 284px;
 }
 .choose-options img{
    margin-bottom: 32px;
 }
.choose-options-1{
    background-color: #FBB56333;
    border-radius: 10px;
    margin: 24px;
    padding-left: 20px;
    padding-top: 32px;
}
.choose-options-2{
    background-color: #29CEF633;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 32px;
}
.choose-options-3{
background-color:#E9444433 ;
border-radius: 10px;
padding-left: 20px;
padding-top: 32px;
}
/* deals */
.tour{
    background-color:#ffffffcc;
    
    margin-left:535px ;
    padding-left: 50px;
    margin-top: -448px;
    width: 529px;
    height: 389px;
    position: absolute;
    border-radius: 8px;
}
.tour p{
    font-size: 16px;
}
.deals img{
    height: 500px;
    width: 100%;
}
.tour-2{
    background-color:#ffffffcc;
    
    margin-left:56px ;
    padding-left: 50px;
    margin-top: -448px;
    width: 529px;
    height: 389px;
    position: absolute;
    border-radius: 8px;
}
.deals-tour-2{
    margin-top: 24px;
    margin-bottom: 24px;
}
.deals-btn{
    padding: 13px 24px;
    border: none;
    border-radius: 7px;
}
.packages{
    border: none;
    border-radius: 7px;
    padding: 13px 24px;


}
.packages-btn{
        display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

/* Perfect-Place */
.Perfect-Place{
    display: flex;
    justify-content: space-between;
}
.place-img img{
    width: 610px;
    height: 424px;
}
.place p {
    margin: 24px 0px;
}
.place-list li {
    margin-bottom: 16px;
}
.place-btn{
    padding: 13px 24px;
    margin-top: 32px;
    border: none;
    border-radius: 7px;

}
/* newsletter */
.newsletter{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 100px;
}
.newsletter-img{
    width: 672px;
    height: 422px;
}
.news{
    border:solid #FF5400 2px;
    border-radius: 12px;
    padding: 40px;
    width: 390px;
}
.news input{
    width: 393px;
    height: 52px;
    border-radius: 7px;
    margin-bottom: 16px;
    border: none;
    background-color: #1313180D;
}
.news button{
    width: 393px;
    height: 52px;
    border: none;
    border-radius: 7px;
}
.hr{
    color: #1313181A;
    margin-top: 24px;
    margin-bottom: 24px;
}
/* footer */
.footer{
    background-color: #1313180D;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
}
.foot-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 24px;
}
.footer p{
    margin-top: 32px;
    margin-bottom: 32px;

}
.foot-icons{
    margin-top: 24px;
    margin-bottom: 24px;
    gap:10px;
}